body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.container {
    width: 60%;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input {
    padding: 10px;
    width: 70%;
    margin: 10px 0;
}
.toggle {
    margin: 10px 0;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    margin-left: 5px;
    background: #0078d4;
    color: white;
    border: none;
    cursor: pointer;
}

.paper {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.summary {
    background: #f1f1f1;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}



#loading {
    display: none;
    color: gray;
}
